mixin song(song)
    div#songContainer(data-id=song._id)
        div.song-mixin__albumArt.homePlayBtn(style=`background-image:url(${song.albumArtUrl});background-size:cover;background-position:center;cursor:pointer;`, onclick=`location.href='/songs/${song.id}'`)

        div.text-box
            div.info-box
                h4.songTitle
                    a(href=`/songs/${song.id}`)#songTitle=song.title
                p.songArtist=song.artist
                small.songAlbum=song.album
            div.likes-box
                i.fas.fa-heart
    br
    br